.input {
    width: 100%;
    background: #ffffff;
    border: 2px solid #b2b2b2;
    color: rgb(163, 163, 163);
    padding: 0px 30px;
    border-radius: 999px;
    transition: 0.4s; 
    height: 40px;

    &:focus {
        outline: none;
        border-color: #848484;
    }
}